<!DOCTYPE HTML>
<html>
    <head>
    {{>header}}
    </head>
    <div class="wrapper">
    {{>navbar}}
        <main>
            <div class="midnav">
              <h3 class ="midbar">{{title}}</h3>
              <form method="post" role="form">
              <div class="form-group">
                <input type="submit" value="Post Button" class="btn btn-primary">
              </div>
              </form>
                <p class ="midbar">Not Yet Implemented For User</p>
                
            </div>
        </main>
        <footer>
          <h4>© Treblig Inc 2021 | Thank you for visiting</h4>
        </footer>
    </div>
</html>