<head>
    {{>header}}
</head>
<body>
    <h1>{{title}}</h1>
    {{#entries}}
        <div>
            {{goal}} due for - {{dueDate}}
        </div>
        <div>
            {{details}}
        </div>
        <div>
            Written by {{author}} 
        </div>
        <hr>
    {{/entries}}
    {{^entries}}
    No entries yet.
    <hr>
    {{/entries}}
    <div class="text-right">
    <a href="/new" class="btn btn-primary">
        Add a goal
    </a>
    </div>
</body>
</html>