<html>
    <head>
    {{>header}}
    </head>

    <div class="wrapper">
      {{>navbar}}
        <main>
            <div class="midnav">
              <h3 class ="midbar">{{title}}</h3>
              {{#entries}}
        <div class ="midbar">
            {{goal}} due for - {{dueDate}}
        </div>
        <div class ="midbar">
            {{details}}
        </div>
        <div class ="midbar">
            Written by <a href="/posts/{{author}}">{{author}}</a> 
        </div>
        <hr>
    {{/entries}}
    {{^entries}}
    No entries yet.
    <hr>
    {{/entries}}
    <div class="text-right">
    <a href="/new" class="midbar">
        Add a goal
    </a>
    </div>                
            </div>
        </main>
        <footer>
          <h4>© Treblig Inc 2021 | Thank you for visiting</h4>
        </footer>
    </div>
</html>