<html>
    <head>
        {{>header}}
    <script>
        function copyLink() {
            var copyText = document.getElementById("shareLink");
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
        }
    </script>
    </head>

    <div class="wrapper">
        {{>navbar}}
        <main>
            {{^user}}
                <div class="midbar">
                    <a> If you want to access the features of our sight you must login! </a>
                </div>
                <div class="midbar">
                    <a href="/login"> Login </a>
                </div>
            {{/user}}
            {{#user}}
                <div class="midnav">
                    <h3 class ="midbar">{{title}}</h3>
                    <label>share your goals</label>
                    <div class ="midbar">
                        <input type="text" value="{{shareUrl}}{{user.passphrase}}" id="shareLink">
                        <button onclick="copyLink()">Copy text</button>
                    </div>
                    {{#goals}}
                        <div class ="midbar">
                            {{goal}} due for - {{dueDate}}
                        </div>
                        <div class ="midbar">
                            {{details}}
                        </div>
                        <div class ="midbar">
                            Written by <a href="/goals/{{author}}">{{author}}</a> 
                        </div>
                        <div class ="midbar">
                            <a href='/delete/{{_id}}' alt='delete this goal'><i class='fa fa-trash' style='font-size:24px'></i></a> 
                        </div>
                        <div class ="midbar">
                            <a href='/complete/{{_id}}' alt='complete this goal'><i class='fa fa-check' style='font-size:24px'></i></a> 
                        </div>
                        <div class ="midbar">
                            <a href='/update/{{_id}}' alt='Update this goal'>Update</a> 
                        </div>
                        <hr>
                    {{/goals}}
                    {{^goals}}
                        No goals yet.
                        <hr>
                    {{/goals}}
                    <div class="text-right">
                        <a href="/new" class="midbar"> Add a goal </a>
                    </div>                
                </div>
            {{/user}}
        </main>
        <footer>
            {{>footer}}
        </footer>
    </div>
</html>