      <header>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/new">Add a Goal</a>
            <a href="/login">Login</a>
            <a href="/about">About</a>
            
        </div>
    </header>