      <header>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            {{^user}}
            <a id="login" href="/login"> Login </a>
            <a id="register" href="/register"> Register </a>
            {{/user}}
            {{#user}}
            <a id="addgoal" href="/new">Add Goal</a>
            <a id="logout" href="/logout"> Logout </a>
            {{/user}}
        </div>
    </header>