
    <header>
        <div class="navbar navbar-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                {{^user}}
                <li><a id="login" href="/login"> Login </a></li>
                <li><a id="register" href="/register"> Register </a></li>
                {{/user}}
                {{#user}}
                <li><a id="addplan" href="/new">Add plan</a></li>
                <li><a id="allplans" href="/plans">All plans</a></li>
                <li><a id="logout" href="/logout"> Logout </a></li>
                {{/user}}
              </ul>
            </div>
          </div>
    </header>