<html lang="en">
<head>
    {{>header}}
</head>
<body class="container">
    <h2>Write a new entry</h2>
    <form method="post" role="form">
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" name="author" placeholder="Written by" required>
    </div>
    <div class="form-group">
        <label for="goal">goal</label>
        <input type="text" class="form-control" id="goal" name="goal" placeholder="Enter a goal" required>
    </div>
    <div class="form-group">
        <label for="details">details of goal</label>
        <textarea class="form-control" id="details" name="details" placeholder="Enter your comments here." rows="3" required>
        </textarea>
    </div>
    <div class="form-group">
        <label for="details">due date of goal</label>
        <input type="date" id="dueDate" name="dueDate" value="2021-04-20" min="2021-03-17" max="2100-12-31">
    </div>
    <div class="form-group">
        <input type="submit" value="Post entry" class="btn btn-primary">
    </div>
    </form>
</body>
</html>