<html>
    <head>
        {{>header}}
    <script>
        function copyLink() {
            var copyText = document.getElementById("shareLink");
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
        }
    </script>
    </head>

    <div class="wrapper">
        {{>navbar}}
        <main>
            <div class="container">
                {{^user}}
                    <div>
                        <p> If you want to access the features of our sight you must login! </p>
                    </div>
                    <div>
                        <a href="/login" class="btn btn-default">Login </a>
                    </div>
                {{/user}}
                {{#user}}
                    <h3 class ="midbar">{{title}}</h3>
                    <label>share all your plans</label>
                    <div class>
                        <input class="list-group-item" type="text" value="{{shareUrl}}{{user.passphrase}}" id="shareLink"><br/>
                        <button class="btn btn-default" onclick="copyLink()"><i class='fa fa-copy' style='font-size:18px'></i></button>
                    </div>
                    <hr>
                    <div class="table-responsive">          
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Week #</th>
                                <th>Author</th>
                                <th>Starting Date</th>
                                <th>Goals</th>
                                <th>Update</th>
                                <th>Delete</th>
                                <th>Complete</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#plans}}
                            <tr>
                                <td><a href='/plans/{{week}}'>{{week}}</a></td>
                                <td>{{author}}</td>
                                <td>{{date}}</td>
                                <td>
                                {{#goals}}
                                {{info}}<br/>
                                {{/goals}}
                                </td>
                                <td><a href='/update/{{_id}}' alt='Update this plan'><i class='fa fa-refresh' style='font-size:24px'></a></td>
                                <td><a href='/delete/{{_id}}' alt='delete this plan'><i class='fa fa-trash' style='font-size:24px'></i></a></td>
                                {{^complete}}<td><a href='/complete/{{_id}}' alt='complete this plan'><i class='fa fa-check' style='font-size:24px'></i></a></td>{{/complete}}
                            </tr>
                            {{/plans}}
                            </tbody>
                        </table>
                    </div>
                    <br/>
                    {{^plans}}
                        <p>No plans yet. Maybe add one<p>
                        <hr>
                    {{/plans}}
                    <div class="text-center">
                        <a href="/new" class="btn btn-default"> Add a plan </a>
                    </div>
                {{/user}}
            </div>
        </main>
        <footer>
            {{>footer}}
        </footer>
    </div>
</html>