<!DOCTYPE HTML>
<html>
    <head>
    {{>header}}
    </head>

    <div class="wrapper">
      {{>navbar}}
        <main>
            <div class="midnav">
              <h3 class ="midbar">{{title}}</h3>
                    <hr>
                    <div id = "midbar">
                      <label for="email"><b>Email</b></label>
                      <input type="text" placeholder="Enter Email" name="email" id="email" required>
                    </div>
                    <div id = "midbar">
                      <label for="psw"><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                    </div>
                    <div id = "midbar">
                      <label for="psw-repeat"><b>Repeat Password</b></label>
                      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                      <p class ="midbar">Not Yet Implemented For User</p>
                    </div>
                
            </div>
        </main>
        <footer>
          <h4>© Treblig Inc 2021 | Thank you for visiting</h4>
        </footer>
    </div>
</html>