<html>
    <head>
        {{>header}}
    </head>

    <div class="wrapper">
        {{>navbar}}
        <main>
                <div class="midnav">
                    <h3 class ="midbar">{{title}}</h3>
                    {{#goals}}
                        <div class ="midbar">
                            {{goal}} due for - {{dueDate}}
                        </div>
                        <div class ="midbar">
                            {{details}}
                        </div>
                        <div class ="midbar">
                            Written by {{author}}
                        </div>
                        <hr>
                    {{/goals}}
                    {{^goals}}
                        No goals yet.
                        <hr>
                    {{/goals}}           
                </div>
        </main>
        <footer>
            {{>footer}}
        </footer>
    </div>
</html>