<html>
    <head>
        {{>header}}
    </head>

    <div class="wrapper">
        {{>navbar}}
        <main>
            <div class="container">
                <h3 class ="midbar">{{title}}</h3>
                <hr>
                <div class="table-responsive">          
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Author</th>
                            <th>Due For</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#goals}}
                        <tr>
                            <td>{{author}}</td>
                            <td>{{dueDate}}</td>
                            <td>{{details}}</td>
                        </tr>
                        {{/goals}}
                        </tbody>
                    </table>
                </div>
                <br/>
            </div>
        </main>
        <footer>
            {{>footer}}
        </footer>
    </div>
</html>