<!DOCTYPE HTML>
<html>
    <head>
    {{>header}}
    </head>

    <div class="wrapper">
      {{>navbar}}
        <main>
            <div class="midnav">
              <div class="midbar">
                <a> If you want to access the features of our sight you must login! </a>
              </div>
              <h3 class ="midbar">{{title}}</h3>
              <form method = "post" role="/login">
                    <div id = "midbar">
                      <label for="username"><b>Username</b></label>
                      <input type="text" placeholder="Enter username" name="username" id="username" required>
                    </div>
                    <div id = "midbar">
                      <label for="password"><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="password" id="password" required>
                    </div>
                    <div id = "midbar">
                      <a href="/register">Not signed up? Register</a>
                    </div>
                    <input type="submit" value="Sign In">
              </form>
            </div>
        </main>
        <footer>
          <h4>© Treblig Inc 2021 | Thank you for visiting</h4>
        </footer>
    </div>
</html>