<!DOCTYPE HTML>
<html>
    <head>
    {{>header}}
    </head>

    <div class="wrapper">
      {{>navbar}}
        <main>
            <div class="container">
              <div>
                <p><b> If you want to access the features of our sight you must login! </b></p>
              </div>
              <h3>{{title}}</h3>
              <form method = "post" role="/login">
                    <hr>
                    <div>
                      <label for="username"><b>Username</b></label>
                      <input type="text" class="form-control" placeholder="Enter username" name="username" id="username" required>
                    </div>
                    <div>
                      <label for="password"><b>Password</b></label>
                      <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" required>
                    </div>
                    <div>
                      <a href="/register" class="btn btn-link">Not signed up? Register</a>
                    </div>
                    <br />
                    <input type="submit" value="Sign In" class="btn btn-primary">
              </form>
            </div>
        </main>
        <footer>
          {{>footer}}
        </footer>
    </div>
</html>