<!DOCTYPE HTML>
<html>
    <head>
    {{>header}}
    </head>

    <div class="wrapper">
      {{>navbar}}
        <main>
            <div class="container">
              <h3 >{{title}}</h3>
              <form method = "post" role="/register">
                    <hr>
                    <div>
                      <label for="username"><b>UserName</b></label>
                      <input type="text"  class="form-control" placeholder="Enter Username" name="username" id="username" required>
                    </div>
                    <div>
                      <label for="psw"><b>Password</b></label>
                      <input type="password"  class="form-control" placeholder="Enter Password" name="psw" id="psw" minlength="8" required>
                    </div>
                    <div>
                      <label for="pswrepeat"><b>Repeat Password</b></label>
                      <input type="password"  class="form-control" placeholder="Repeat Password" name="pswrepeat" id="pswrepeat" required>
                    </div>
                    <br />
                    <div class="form-group">
                      <input type="submit" value="Register" class="btn btn-primary">
                    </div>
              </form>
                
            </div>
        </main>
        <footer>
          {{>footer}}
        </footer>
    </div>
</html>