/* Quick and dirty global reset */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

main{
    height: 100%;
    width: 100%;
    background-color: white;
    min-height: 400px;
    display: block;
}

button{
  background-color: yellow;
  height:20px;

}
footer{
    overflow: auto;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3%;
    position: fixed;
    padding: 11px;
}
.wrapper{
    width: 100%;
    height: 100%;
    background-color: white;

}

.midbar{
    background-color: yellow;
    outline-color: black;
    width:100%;
    display: block;
    padding: 14px 16px;
    align-content: center;
    margin: auto;
    height: auto;
    word-wrap: break-word;
    text-align: center;
}

.mobile-container {
    margin: auto;
    background-color: #555;
    color: white;
    border-radius: 1px;
}
  
  .topnav {
    overflow: hidden;
    background-color: yellow;
    outline-color: black;
    outline-width: 1mm;
    position: relative;
}
  
  .topnav #myLinks {
    display: none;
}
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: block;
}

.topnav img {
  width: 160px;
  display: block;

}
  
  .topnav a.icon {
    background: yellow;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  .active {
    background-color: yellow;
    color: white;
}
.midnav{
    align-content: center;
    margin: auto;
    height: auto;
    word-wrap: break-word;
    text-align: center;
    padding: 6px;
}

.midnav input[type=text] {

    outline-color: black;
    outline-width: 2px;
    font-size: 17px;
  }

.midnav img{
    width:40%;
    padding-top: 10%;
    
}

h1 {
    font-size: 2em;
}



 @media (min-width: 600px) {

 }


 @media (min-width: 868px) {
    

    .topnav #myLinks {
        display: block;
    }

    .topnav a {
        float: left;
        text-decoration: none;
      }
      
      .topnav a.icon {
        float: right;
        display: none;
      }

    .midbar{
      width:50%;
    }
 }


